<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>HW1</title>
</head>
<body>
    {% from "includes/base.html" import nav_link with context %}

    <ul class="navbar">
        {{ nav_link('Home', 'home') }}
        {{ nav_link('Guestbook', 'guestbook') }}
        {{ nav_link('Sign', 'sign') }}
    </ul>

    <h1 class="title">Guestbook</h1>
    <form action="/clear" method="post" class="form">
        <button type="submit">Clear</button>
    </form>
    <div class="center">
        <ul>
            {% for entry in session.guestbook %}
            <li>{{entry.name}} signed at {{entry.timestamp}}</li>
            {% endfor %}

        </ul>
    </div>

</body>
</html>